body {
    font: 16px/28px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: auto;
}

.topbar {
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}

.topbar a {
    font-size: 32px;
    padding: 9px;
    text-decoration: none;
    border: 1px solid black;
    color: teal;
}

.topbar a:hover {
    padding: 9px;
    background-color: teal;
    color: white;
}

.content {
    padding: 0 12px 0 12px;
}

.content .main {
    width: 600px;
    float: right;
}

.content .sidebar {
    width: 300px;
    float: left;
    font-size: 13px;
}

.footer {
    clear: both;
    text-align: center;
    background-color: teal;
}