@media(max-width: 524px) {
    .logo-container {
        width: 170px;
        height: 50px;
        padding-top: 10px;
    }

    .menu-container {
        width: calc(100% - 170px - 20px);
        padding: 0 5px;
    }

    .navigation {
        margin-top: 10px !important;
        margin-right: 0 !important;
    }

    .content {
        width: calc(100% - 30px) !important;
        padding: 15px 10px;
    }
}

@media(max-width: 800px) {
    .content {
        width: calc(100% - 40px);
    }

    .sidebar {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
}

@media(max-width: 1023px) {
    .navigation {
        background-color: #fff;
        margin-top: 80px;
        margin-right: -70px;
        width: 300px;
        padding: 0;
        min-height: 100px;
        box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    #main-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        width: 50px;
        padding: 15px 0 15px 25px;
        margin-top: 6px;
        /* margin: 0; */
        float: right;
        color: #fff;
        border-radius: 8px;
    }

    .mobile-menu:hover {
        background-color: var(--blue-hover);
    }

    .menu-item {
        float: none; 
        padding: 15px 0;   
        cursor: pointer;
    }

    .menu-item:hover > a {
        color: #fff;
    }

    .menu-item:hover {
        background-color: var(--blue-hover);
    }
    
    .menu-item:hover:nth-child(1) {
        border-radius: 5px 5px 0 0;
    }

    .menu-item:hover:nth-last-child(1) {
        border-radius: 0 0 5px 5px;
    }

    .menu-link {
        color: #000;
        border-radius: 0;
        transition: none;
    }

    .menu-link:hover {
        background-color: transparent;        
    }

    .post-image {
        max-width: calc(100% + 40px);
        margin-left: -20px;
        border-radius: 0;
    }
}

@media(min-width: 1024px) {
    .menu-active, 
    .menu-link:hover {
        padding: 12px 20px;
        background-color: var(--blue-hover);
    }
}