:root {
    --blue: #1b75f2;
    --blue-hover: rgb(0, 72, 139);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    background-color: var(--blue);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
}

.menu-mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.header,
.menu-container {
    height: 70px;
}

.logo-container {
    width: 200px;
    padding: 5px;
    height: 60px;
}

.menu-container {
    /* 
     * lebar layar (100%) - lebar logo (200px) - 
     * padding logo kanan-kiri (5+5 px) -
     * padding menu kanan-kiri (5+5px)
     */
    width: calc(100% - 200px - 20px);
    padding: 0 5px;
}

.logo-container, .menu-container {
    float: left;
}

.content-wrapper {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 70px;
    background-color: rosybrown;
}

.content-wrapper,
.content,
.sidebar {
    min-height: 300px;
}

.content, 
.sidebar, 
.footer {
    float: left;
}

.content {
    width: calc(100% - 300px - 10px - 30px);
    background-color: darkmagenta;
    margin-right: 10px;
    padding: 15px;
}

.sidebar {
    width: 300px;
    background-color: darkkhaki;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: var(--blue);
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 14px;
}

.web-logo {
    max-width: 90%;
}

.navigation {
    float: right;
    margin-top: 25px;
}

.menu-item {
    float: left;
    list-style: none;    
}

.menu-link {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    transition: all 0.3s ease-out;
}

.mobile-menu {
    display: none;
}